.pricing__container {
    background: #182333;
}
.priceing {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: $md) {
        flex-direction: column;
        align-items: center;
    }
    justify-content: center;

    padding-top: 110px;
    padding-bottom: 100px;
    &__info {
        display: flex;
        flex-direction: column;

        text-align: left;
        @media screen and (max-width: $md) {
            text-align: center;
            margin-right: 0;
            padding-bottom: 77px;
        }
        margin-right: 88px;
        &-title {
            font-family: Circular Std;
            font-style: normal;
            font-weight: bold;
            font-size: 56px;
            line-height: 65px;
            letter-spacing: 0.2px;
            color: #ffffff;
            padding-bottom: 25px;
        }
        &-text {
            font-family: Circular Std;
            font-style: normal;
            font-weight: 450;
            font-size: 19px;
            line-height: 30px;

            letter-spacing: 0.2px;

            color: #ffffff;
        }
    }
    &__price {
        display: flex;
        flex-direction: column;

        text-align: left;
        @media screen and (max-width: $md) {
            text-align: center;
            margin-left: 0;
        }
        margin-left: 88px;

        &-trialtitle {
            font-family: Circular Std;
            font-style: normal;
            font-weight: 450;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.1px;
            color: #ffffff;
            text-transform: uppercase;
            padding-bottom: 20px;
        }
        &-monthuse {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 30px;
            &-number {
                font-family: Circular Std;
                font-style: normal;
                font-weight: 900;
                font-size: 72px;
                line-height: 78px;
                letter-spacing: 0.2px;
                color: #f3cd03;
            }
            &-conditions {
                font-family: Circular Std;
                font-style: normal;
                font-weight: 450;
                font-size: 24px;
                line-height: 38px;
                letter-spacing: 0.2px;
                color: #ffffff;
            }
        }
        &-discr {
            font-family: Circular Std;
            font-style: normal;
            font-weight: 450;
            font-size: 19px;
            line-height: 30px;
            letter-spacing: 0.2px;
            color: #ffffff;
            padding-bottom: 20px;
        }

        .button {
            margin-left: 6.5px;
            margin-right: 6.5px;
        }
    }
}
