container
    .row
        .col-1
        .col-10
            .footerNav
                .footerNav_logo
                    img(src="img/logotype.svg", alt="logotype")
                    .footerNav_logo-text Just type what's on your mind
                .footerNav__menu
                    ul.main-menu
                        li.main-menu_item Home
                        li.main-menu_item Product
                        li.main-menu_item About
                        li.main-menu_item Contact
                .footerNav__menu-networks
                    .footerNav__menu-networks-twit 
                    img(src="img/twitter.svg", alt="twitter")
                    .footerNav__menu-networks-fb 
                    img(src="img/facebook.svg", alt="facebook")
                    .footerNav__menu-networks-insta
                    img(src="img/insta.svg", alt="insta")

        .col-1
