.container
    .row
        .col-1
        .col-10
            .navbar
                img.logo(src="img/logotype.svg", alt="logotype")
                .menu
                    ul.main-menu
                        li.main-menu_item Home
                        li.main-menu_item Product
                        li.main-menu_item About
                        li.main-menu_item Contact
                button.button__outlined(onclick="alert()") Login
                img.sidebar(src="../img/sidebar.svg")
        .col-1
