.justtype 
  .justtype__first_title Just type
  .justtype__secont_title Fastest way to navigate
  .justtype__text Most calendars are designed for teams.
    br 
    | Slate is designed for freelancers.
  .justtype__buttons 
    button.button.button__contain Download
    button.button.button__outlined See Walkthrough
