.container
    .row
        .col-1
        .col-10
            .opentype 
                .opentype__discript
                    .opentype__discript-title OpenType features
                    .opentype__discript-text Most calendars are designed for teams.
                        br
                        | Slate is designed for freelancers who
                        br
                        | want a simple way to plan their
                        br
                        | schedule.
                    .opentype__discript-link
                        a.opentype__discript-link-main(href="http://") learn more
                .opentype__foto 
                    img(src="../img/loptop.png", alt="loptop")
        .col-1
