.container.pricing__container
    .row
        .col-1
        .col-10
            .priceing
                .priceing__info 
                    .priceing__info-title Pricing
                    .priceing__info-text Most calendars are designed for teams. Slate is
                        br
                        | designed for freelancers who want a simple
                        br
                        | way to plan their schedule.
                .priceing__price 
                    .priceing__price-trialtitle 30-DAY FREE TRIAL
                    .priceing__price-monthuse 
                        .priceing__price-monthuse-number $5
                        .priceing__price-monthuse-conditions /month per
                            br
                            | user
                    .priceing__price-discr Most calendars are designed
                        br
                        | for teams.
                    .priceing__price-button
                        button.button.button__contain Get Started
