container
    .row
        .col-1
        .col-10
            .processbar 
                .processbar__title A rethink of how we work
                .processbar__text Being a freelancer is a rollercoaster of emotions. We built Slate to keep your

                .processbar__line 
                    img(src="../img/progresssbar.png", alt="processsbar")
                .processbar__button
                    button.button.button__contain Download
        .col-1 
