.container.testimonial__container
    .row
        .col-1
        .col-10
            .testimonials 
                .testimonials__title Testimonials
                .testimonials__logo 
                    img(src="../img/IBM.svg", alt="IBM")
                .testimonials__text Being a freelancer is a rollercoaster of emotions.
                    br 
                    | We built Slate to keep your freelance business less stressful.
                    br
                    | We'd love to show you what we're building...
                .testimonials__reviewAuthor 
                    .testimonials__reviewAuthor-photo 
                        img(src="../img/webdesigner.png", alt="webdesigner")
                    .testimonials__reviewAuthor-name
                        a.testimonials__reviewAuthor-name-link(href="") Esther Webb
                        .testimonials__reviewAuthor-name-subtitle Designer

                .testimonials__button
                    button.button.button__contain All Testimonials
        .col-1
