.container.variablefont__container
    .row
        .col-1
        .col-10
            .variablefonts
                img.variablefonts__foto(
                    src="../img/screenshot.png",
                    alt="screenshot"
                )
                .variablefonts__discript
                    .variablefonts__discript-title Variable fonts
                    .variablefonts__discript-text Most calendars are designed for
                        br
                        | teams. Slate is designed for
                        br
                        | freelancers

                    .variablefonts__discript-link
                        a.variablefonts__discript-link-main(href="http://") learn more
        .col-1 
